* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Times New Roman', Times, serif;
}

body {
    font-size: 1.4rem;
}

body .news-letter-container-header .news-letter-header {
    font-family: 'Pacifico', 'cursive';
    font-size: 5rem;
    text-align: center;
}

body .news-letter-container-homepage {
    border: 1px solid black;
}

body .news-letter-container-homepage .flex-container {
    display: flex;
    width: 100%;
}

body .news-letter-container-homepage .news-letter-container-first .box-themed-25 {
    width: 25%;
    border: 1px solid black;
}

body .news-letter-container-homepage .news-letter-title {
    font-size: 3rem;
    font-style: italic;
    text-align: center;
}

body .news-letter-container-homepage .news-letter-container-first p {
    font-size: 1.6rem;
    padding: .5rem;
}

body .news-letter-container-homepage .news-letter-container-first .box-themed-50 {
    width: 50%;
    border: 1px solid black;
}

body .news-letter-container-homepage .news-letter-container-first .news-letter-breaking img {
    display: block;
    margin: auto;
}

body .news-letter-container-homepage .news-letter-container-second .box-themed-75 {
    width: 75%;
    border: 1px solid black;
}

body .news-letter-container-homepage .news-letter-container-second .box-themed-25 {
    width: 25%;
    border: 1px solid black;
}

body .news-letter-container-homepage .news-letter-container-second .news-letter-archieve-list {
    list-style-type: square;
    font-size: 2.0rem;
}

body .news-letter-container-homepage .news-letter-container-second .news-letter-archieve-list a{
    color: rgb(77, 73, 73);
    text-decoration: none;
}

body .news-letter-container-homepage .news-letter-container-second .news-letter-archieve-list a:hover{
    color: rgb(255, 162, 119);
    text-decoration: underline;
}

body .news-letter-container-homepage .news-letter-container-second .news-letter-nav .box-height-width-themed{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
}

body .news-letter-container-homepage .news-letter-container-second .news-letter-nav .box-height-width-themed h3{
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-size: 2.5rem;
    padding-left: 1.5rem;
}